body
{
	background-position: bottom center;
	background-repeat: no-repeat;
}
a:link,a:visited
{
	text-decoration: none;
	color: tomato;
}
a:hover
{
	text-decoration: underline;
	background-color: black;
	color: tomato;
}
